.card-container {
    position: relative;
}
.card-container:hover .card-img {
  opacity: 0.3;
  transform: scale(1.1);
    transition: all 1s;
}

.card-container:hover {
  opacity: 1;
}
.card-img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card-border {
    overflow: hidden !important;
}
.guide-info{
    background-color: tomato;
    color: white;
}